<div class="left-column">
  <% if @words %>
    <h1>Some words from your decks:</h1>
    <% for word in @words %>
      <h2><%= word.word %></h2>
      <div id="explanation">
        <%= format_explanation(word.word, word.explanation, 5) %> 
      </div>
    <% end %>
  <% end %>
</div>