<h2>Public Decks</h2>


<% if !@decks.empty? %>
    <% for deck in @decks do %>
        <div class="deckDescription">
            <h3><%= deck.name %></h3>
            <p>Created by <%= deck.user.login %></p>
            <p>There are <%= deck.words.size %> words</p>
                            
            <% if deck.user != @current_user %>
                <h4><%= link_to 'Copy Deck', action: 'copy_deck', id: deck.id %></h4>
            <% end %>
        </div>
    <% end %>
<% else %>
    There are no public decks
<% end %>